
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}


header {
    background: #060606;
    color: #fff;
    padding: 1rem 0;
}

.nav-links
 {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-links
 li {
    margin: 0 1rem;
}

.nav-links
 a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.nav-links
 a:hover {
    text-decoration: underline;
}


main {
    padding: 2rem;
    text-align: center;
}
h2{
    margin: 1px;
    
}
button{
    border-radius: 35px;
    
}
#contactForm{
    margin:3px 3px;
    padding:5px;
    

}
.error {
    color: red;
    margin-top: 1rem;
}


footer {
    background: #171515;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        align-items: center;
    }

    .nav-links li {
        margin: 0.5rem 0;
    }

  
}
